{% extends "base.html" %}

{% block head%}
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    
    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"></script>
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
{% endblock %}

{% block content %}
<!-- Mensagem -->
<article class="message is-success" style="width:300px; margin-left:auto;margin-right:auto;">
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="message-body">
  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}
  </div>
   {% endif %}
{% endwith %}
</article>
<!-- Fim de Mensagem -->
<h1 class="title has-text-centered">Lista de clientes</h1>
<div class="buttons">
  <a href="{{ url_for('add_cliente') }}"><button class="button is-success"><i class="fi-swluxl-plus-solid fi-size-xl" style="color: white;"></i></button></a>
</div>
<div class="table-container columns is-centered">
<table id="clientetable" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
<thead>
<tr>
    <th class="has-text-centered">Nome</th>
    <th class="has-text-centered">Cidade</th>
    <th class="has-text-centered">Telefone</th>
    <th class="has-text-centered">Celular</th>
    <th class="has-text-centered">Email</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
    {% for cliente in clientes %}
    <tr>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.cidade}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.celular}}</td>
        <td>{{cliente.email}}</td>
        <td>
          <a href="{{ url_for('edit_cliente', cliente_id=cliente.id) }}"><i class="fi-xnsuhl-edit-solid" style="color: orange;"></i></a>
        </td>
        <td>
          <a href="{{ url_for('delete_cliente', cliente_id=cliente.id) }}"><i class="fi-xnsuhl-trash-bin" style="color: red;"></i></a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#clientetable').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"
        }
    } );
} );
</script>
{% endblock %}