{% extends "base.html" %}
{% block content %}
<h1 class="title has-text-centered">Adicionar Endereço</h1>
<div class="columns is-centered">
<form style="width:540px;" method="POST" action="">
    <div class="field">
      <label class="label">Endereço</label>
      <div class="control">
        <input class="input is-small" name="endereco" type="text" value="{{endereco.endereco}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Número</label>
      <div class="control">
        <input class="input is-small" name="numero" type="text" value="{{endereco.numero}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Bairro</label>
      <div class="control">
        <input class="input is-small" name="bairro" type="text" value="{{endereco.bairro}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Cidade</label>
      <div class="control">
        <input class="input is-small" name="cidade" type="text" value="{{endereco.cidade}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Estado</label>
      <div class="control">
        <input class="input is-small" name="estado" type="text" value="{{endereco.estado}}">
      </div>
    </div>
    <div class="field">
      <label class="label">CEP</label>
      <div class="control">
        <input class="input is-small" name="cep" type="text" value="{{endereco.cep}}">
      </div>
    </div>
    <div class="control">
        <button class="button is-success">Salvar</button>
    </div>
</form>
</div>
{% endblock %}